In [1]:
import pandas as pd
import requests

### 1. Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [2]:
base_url = 'https://python.zach.lol'

#get response w/ requests.get()
response = requests.get(base_url)

#get api info 
response.json()

{'api': '/api/v1', 'help': '/documentation'}

In [3]:
#look into /documentation endpoint
response = requests.get(base_url + '/documentation')
response.json()

{'payload': '\nThe API accepts GET requests for all endpoints, where endpoints are prefixed\nwith\n\n    /api/{version}\n\nWhere version is "v1"\n\nValid endpoints:\n\n- /stores[/{store_id}]\n- /items[/{item_id}]\n- /sales[/{sale_id}]\n\nAll endpoints accept a `page` parameter that can be used to navigate through\nthe results.\n',
 'status': 'ok'}

In [4]:
#look at payload key
response = requests.get(base_url + "/documentation")
print(response.json()["payload"])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [5]:
#changing base url in order to explore items
base_url =  "https://python.zach.lol/api/v1"
items_response = requests.get(base_url + "/items")

items_response.json()

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [6]:
#all info needed is in payload key
items_payload = items_response.json()['payload']
items_payload

{'items': [{'item_brand': 'Riceland',
   'item_id': 1,
   'item_name': 'Riceland American Jazmine Rice',
   'item_price': 0.84,
   'item_upc12': '35200264013',
   'item_upc14': '35200264013'},
  {'item_brand': 'Caress',
   'item_id': 2,
   'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
   'item_price': 6.44,
   'item_upc12': '11111065925',
   'item_upc14': '11111065925'},
  {'item_brand': 'Earths Best',
   'item_id': 3,
   'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
   'item_price': 2.43,
   'item_upc12': '23923330139',
   'item_upc14': '23923330139'},
  {'item_brand': 'Boars Head',
   'item_id': 4,
   'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
   'item_price': 3.14,
   'item_upc12': '208528800007',
   'item_upc14': '208528800007'},
  {'item_brand': 'Back To Nature',
   'item_id': 5,
   'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
   'item_price': 2.61,
   'item_upc12': '759283100036',
   'item_upc14': '759283100036'},
  {'item_brand': 'Sally Hansen',
   'item_id': 6,
   'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
   'item_price': 6.93,
   'item_upc12': '74170388732',
   'item_upc14': '74170388732'},
  {'item_brand': 'Twinings Of London',
   'item_id': 7,
   'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
   'item_price': 9.64,
   'item_upc12': '70177154004',
   'item_upc14': '70177154004'},
  {'item_brand': 'Lea & Perrins',
   'item_id': 8,
   'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
   'item_price': 1.68,
   'item_upc12': '51600080015',
   'item_upc14': '51600080015'},
  {'item_brand': 'Van De Kamps',
   'item_id': 9,
   'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
   'item_price': 1.79,
   'item_upc12': '19600923015',
   'item_upc14': '19600923015'},
  {'item_brand': 'Ahold',
   'item_id': 10,
   'item_name': 'Ahold Cocoa Almonds',
   'item_price': 3.17,
   'item_upc12': '688267141676',
   'item_upc14': '688267141676'},
  {'item_brand': 'Honest Tea',
   'item_id': 11,
   'item_name': 'Honest Tea Peach White Tea',
   'item_price': 3.93,
   'item_upc12': '657622604842',
   'item_upc14': '657622604842'},
  {'item_brand': 'Mueller',
   'item_id': 12,
   'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
   'item_price': 8.4,
   'item_upc12': '74676640211',
   'item_upc14': '74676640211'},
  {'item_brand': 'Garnier Nutritioniste',
   'item_id': 13,
   'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
   'item_price': 6.47,
   'item_upc12': '603084234561',
   'item_upc14': '603084234561'},
  {'item_brand': 'Pamprin',
   'item_id': 14,
   'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
   'item_price': 7.54,
   'item_upc12': '41167300121',
   'item_upc14': '41167300121'},
  {'item_brand': 'Suave',
   'item_id': 15,
   'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
   'item_price': 9.11,
   'item_upc12': '79400847201',
   'item_upc14': '79400847201'},
  {'item_brand': 'Burts Bees',
   'item_id': 16,
   'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
   'item_price': 5.17,
   'item_upc12': '792850014008',
   'item_upc14': '792850014008'},
  {'item_brand': 'Ducal',
   'item_id': 17,
   'item_name': 'Ducal Refried Red Beans',
   'item_price': 1.16,
   'item_upc12': '88313590791',
   'item_upc14': '88313590791'},
  {'item_brand': 'Scotch',
   'item_id': 18,
   'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
   'item_price': 4.39,
   'item_upc12': '21200725340',
   'item_upc14': '21200725340'},
  {'item_brand': 'Careone',
   'item_id': 19,
   'item_name': 'Careone Family Comb Set - 8 Ct',
   'item_price': 0.74,
   'item_upc12': '41520035646',
   'item_upc14': '41520035646'},
  {'item_brand': 'Usda Produce',
   'item_id': 20,
   'item_name': 'Plums Black',
   'item_price': 5.62,
   'item_upc12': '204040000000',
   'item_upc14': '204040000000'}],
 'max_page': 3,
 'next_page': '/api/v1/items?page=2',
 'page': 1,
 'previous_page': None}

In [7]:
#items key has all the item info
items_payload.keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [8]:
#create a loop
items_list = []

response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()
n = data['payload']['max_page']

for i in range(1, n+1):
    url = 'https://python.zach.lol/api/v1/items?page=' + str(i)
    response = requests.get(url)
    data = response.json()
    page_items = data['payload']['items']
    items_list += page_items

In [9]:
#create df that has all the data from items
items = pd.DataFrame(items_list)

items

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000
20,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
21,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
22,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
23,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
24,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428
25,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045
26,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008
27,Usda Produce,28,Guava,7.52,719175900007,719175900007
28,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038
29,Petmate,30,Petmate Booda Bones Steak Bacon & Chicken Flav...,8.39,723503568678,723503568678
30,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226
31,Barefoot,32,Barefoot Pinot Grigio 187,0.68,8500004528,8500004528
32,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
33,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
34,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
35,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525
36,Nakano,37,Nakano Seasoned Rice Vinegar Original,9.59,73575295003,73575295003
37,Sundown Naturals,38,Sundown Naturals Essential Electrolytes Tropic...,3.45,30768540548,30768540548
38,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
39,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063
40,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
41,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
42,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
43,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
44,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237
45,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664
46,Bear Naked,47,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
47,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
48,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
49,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

### 2. Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)

In [10]:
#changing base url in order to explore stores
base_url =  "https://python.zach.lol/api/v1"
stores_response = requests.get(base_url + "/stores")

stores_response.json()

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [11]:
#all info needed is in payload key
stores_payload = stores_response.json()['payload']
stores_payload

{'max_page': 1,
 'next_page': None,
 'page': 1,
 'previous_page': None,
 'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
   'store_city': 'San Antonio',
   'store_id': 1,
   'store_state': 'TX',
   'store_zipcode': '78253'},
  {'store_address': '9255 FM 471 West',
   'store_city': 'San Antonio',
   'store_id': 2,
   'store_state': 'TX',
   'store_zipcode': '78251'},
  {'store_address': '2118 Fredericksburg Rdj',
   'store_city': 'San Antonio',
   'store_id': 3,
   'store_state': 'TX',
   'store_zipcode': '78201'},
  {'store_address': '516 S Flores St',
   'store_city': 'San Antonio',
   'store_id': 4,
   'store_state': 'TX',
   'store_zipcode': '78204'},
  {'store_address': '1520 Austin Hwy',
   'store_city': 'San Antonio',
   'store_id': 5,
   'store_state': 'TX',
   'store_zipcode': '78218'},
  {'store_address': '1015 S WW White Rd',
   'store_city': 'San Antonio',
   'store_id': 6,
   'store_state': 'TX',
   'store_zipcode': '78220'},
  {'store_address': '12018 Perrin Beitel Rd',
   'store_city': 'San Antonio',
   'store_id': 7,
   'store_state': 'TX',
   'store_zipcode': '78217'},
  {'store_address': '15000 San Pedro Ave',
   'store_city': 'San Antonio',
   'store_id': 8,
   'store_state': 'TX',
   'store_zipcode': '78232'},
  {'store_address': '735 SW Military Dr',
   'store_city': 'San Antonio',
   'store_id': 9,
   'store_state': 'TX',
   'store_zipcode': '78221'},
  {'store_address': '8503 NW Military Hwy',
   'store_city': 'San Antonio',
   'store_id': 10,
   'store_state': 'TX',
   'store_zipcode': '78231'}]}

In [12]:
#stores key has all the stores info
stores_payload.keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [13]:
#create a loop
stores_list = []

response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()
n = data['payload']['max_page']

for i in range(1, n+1):
    url = 'https://python.zach.lol/api/v1/stores?page=' + str(i)
    response = requests.get(url)
    data = response.json()
    page_stores = data['payload']['stores']
    stores_list += page_stores

In [14]:
#create df that has all the data from items
stores = pd.DataFrame(stores_list)

stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

### 3. Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [15]:
#changing base url in order to explore stores
base_url =  "https://python.zach.lol/api/v1"
sales_response = requests.get(base_url + "/sales")

sales_response.json().keys()

dict_keys(['payload', 'status'])

In [16]:
#all info needed is in payload key and sales key has all the sales info

sales_payload = sales_response.json()['payload']
sales_payload.keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [17]:
#create loop
base_url = 'https://python.zach.lol'

api_url = base_url + '/api/v1/'
response = requests.get(api_url + 'sales')
data = response.json()
    
# create list from 1st page
output = data['payload']['sales']

# loop through the pages and add to list
while data['payload']['next_page'] != None:
    
    response = requests.get(base_url + data['payload']['next_page'])
    data = response.json()
    output.extend(data['payload']['sales'])
    
sales = pd.DataFrame(output)

In [18]:
sales

        item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

### 4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [19]:
#make items df as a csv
items.to_csv('items.csv')

#make stores df as a csv
stores.to_csv('stores.csv')

#make sales df as a csv
sales.to_csv('sales.csv')

In [20]:
#double check items csv
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [21]:
#double check stores csv
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [22]:
#double check sales csv
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

### 5. Combine the data from your three separate dataframes into one large dataframe.

In [23]:
#merge sales w/ stores
combined_df = sales.merge(stores, left_on='store', right_on='store_id')

#merge sales and stores on items
combined_df = combined_df.merge(items, left_on='item', right_on='item_id')

#make complete dataframe to a csv
combined_df.to_csv('combined_df.csv')

In [24]:
combined_df.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [25]:
combined_df.shape

(913000, 16)

### 6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [26]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'

germany_data = pd.read_csv(url)

germany_data.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [27]:
#alternate way
from io import StringIO

def pull_csv(url):
    '''
    This function pulls a .csv from a specified URL and returns a dataframe.
    '''
    req = requests.get(url)
    data = StringIO(req.text)
    df = pd.read_csv(data)
    df = pd.DataFrame(df)
    return df

In [28]:
germany_data = pull_csv(url)

germany_data.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [29]:
import acquire
from acquire import get_items, get_stores, get_sales, get_full_data, get_germany_data

In [30]:
items = get_items()
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [31]:
stores = get_stores()
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [32]:
sales = get_sales()
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [33]:
combined_df = get_full_data()
combined_df.head()

,Unnamed: 0_x,item,sale_amount,sale_date,sale_id,store,Unnamed: 0_y,store_address,store_city,store_id,store_state,store_zipcode,Unnamed: 0,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [34]:
germany_data = get_germany_data()
germany_data.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN